DATABASE_URL=postgresql://postgres:password@localhost:5432/wmt_annotation # replace <password> with your postgres password

MT_EVAL_SECRET_KEY=replace-with-random-secret

MT_EVAL_ADMIN_EMAIL=your-email@example.com
MT_EVAL_ADMIN_PASSWORD=YourStrongPassword123!

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=